.flex-container {
  display: flex;
  flex-direction: row;
}

.scroll_container {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
}



.left {
  background-color: rgb(242, 226, 200); /* Change to your desired background color */
}

.right {
  background-color: rgb(215, 239, 245); /* Change to your desired background color */
}


.images img {
  width: 80%;
  display: block;
  margin: 40px auto 0px;
}

.scroll_container h2 {
  text-align: center; 
  margin: 30px auto 0px; 
}