@font-face {
    font-family: 'Uncut-Sans-Semibold';
    src:  url('font/Uncut-Sans-Semibold.woff') format('woff2'),
          url('font/Uncut-Sans-Semibold.woff2') format('woff');
         
}



p {
    margin-top: 40px;
}

#about {
    font-size: 30px;
    font-family: "Uncut-Sans-Semibold";
    margin-left: 4%;
}

.details {
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    padding-right: 60px;
    margin-left: 4%;
}